KUBE_SCHEDULER_OPTS="--address=127.0.0.1 \
--kubeconfig={{ kubernetes_work_dir }}/cfg/kube-scheduler.kubeconfig \
--leader-elect=true \
--alsologtostderr=true \
--logtostderr=false \
--log-dir=/var/log/kubernetes\kube-scheduler \
--v=2"